backcall
certifi
colorama
cycler
decorator
ipykernel
ipython
ipython-genutils
jedi
jupyter-client
jupyter-core
kiwisolver
matplotlib
MetaTrader5
numpy
pandas
parso
pickleshare
Pillow
prompt-toolkit
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
six
tornado
traitlets
wcwidth
wincertstore
